In [1]:
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt
import csv
import json
import time
from datetime import datetime
from config import gkey
import gmaps

In [2]:
gmaps.configure(api_key=gkey)

In [3]:
url = "https://jobs.github.com/positions.json?"
page = "page="
page_num = "0"
df_1 = []
df_2 = []
l = []
time = str(datetime.now())
ex_csv = time + ".csv"

In [4]:
csv = pd.read_csv('uscities_clean.csv')
c_df = pd.DataFrame(csv)
# c_df THIS IS THE CSV IMPORT WITH CITY, LAT LNG, ZIP,

In [5]:
ex_csv

'2019-10-22 19:22:11.484770.csv'

In [6]:
i = 1

while i < 20:
    
    f = (url + page + str(i))
    res = requests.get(f)
    res_json = res.json()

    res_vol = len(res_json)
    
    if (res_vol > 3):
        l = l + res_json
        print(f"Completed API call number {i}")
    else:
        print(f"res was smaller than 3 so we are going to stop the loop and print.")
        print(f"final length of response {len(l)}")
        #l = json.dumps(l)
        #print(f"final length of response after jsondumps {len(l)}")
        #print(f"~~~~~~~~~~~~~~~~~~~~")
        break
    
    i += 1

print(type(l))

Completed API call number 1
Completed API call number 2
Completed API call number 3
Completed API call number 4
Completed API call number 5
Completed API call number 6
res was smaller than 3 so we are going to stop the loop and print.
final length of response 293
<class 'list'>

In [7]:
l = pd.DataFrame(l)
#l

In [8]:
l = pd.DataFrame(l)
ls = l.drop(columns=['how_to_apply', 'id', 'company_logo', 'company_url'])
#ls

In [9]:
# job_type = l['title']
# #job_type = l['title'].values_count

# #attacker_data = got_data["attacker_king"].value_counts()

# w = job_type.value_counts()

In [10]:
lstrip = l['location'].str.strip()
#l['location'] = l['location'].str.strip()


#location = l['location']

#location.strip()
loc = lstrip.value_counts()
loc

Remote                                                      21
Berlin                                                       8
Rotterdam                                                    7
San Francisco                                                7
Austin, Texas                                                6
Munich, Germany                                              5
Aliso Viejo, CA                                              5
Chicago                                                      5
Hamburg, Deutschland                                         5
London                                                       5
Amsterdam                                                    4
Toronto                                                      4
Stockholm, Sweden                                            4
New York, NY                                                 4
Frankfurt                                                    4
Eindhoven                                                    3
Basel, Switzerland                                           3
Hamburg                                                      3
Chicago, Illinois                                            3
Berlin, Germany                                              3
remote                                                       3
Santa Monica, CA                                             3
Den Haag                                                     3
North America                                                3
New York, New York                                           3
New York City                                                2
Ludwigshafen                                                 2
Cambridge, MA                                                2
Raleigh, NC                                                  2
Los Angeles, CA                                              2
                                                            ..
Brooklyn, United States                                      1
Redwood City, Ca                                             1
Malmo                                                        1
Philadelphia, PA                                             1
Godalming, Surrey or Milton Keynes                           1
Saratoga Springs, NY                                         1
Dordrecht                                                    1
Mill Valley                                                  1
Bucharest                                                    1
Portland, OR or Offsite- USA                                 1
New York Area or Remote                                      1
Stuttgart                                                    1
Oslo, Norway or Remote                                       1
Mainz                                                        1
Koblenz, Köln, Berlin, Martinsried, Fürth, Oberessendorf     1
San Diego                                                    1
Milan, Italy                                                 1
Santa Barbara, CA                                            1
Europe                                                       1
Oslo                                                         1
NewYork                                                      1
Baltimore, MD                                                1
Birmingham, AL                                               1
Oberkochen                                                   1
Dublin, Ohio, United States, 43016                           1
Portland OR                                                  1
Sunnyvale                                                    1
Sunnyvale, CA                                                1
Minneapolis, MN                                              1
Atlanta                                                      1
Name: location, Length: 172, dtype: int64

In [11]:
l['location'] = l['location'].replace(
    {'New York, NY': 'New York, New York', 'New York': 'New York, New York', 
     'New York City': 'New York, New York', 'Frankfurt':'Frankfurt, Germany', 
     'Hamburg':'Hamburg, Germany','Barcelona':'Barcelona, Spain', 'Berlin':'Berlin, Germany', 
     'San Francisco': 'San Francisco, CA', 'London':'London, UK', 'Toronto':'Toronto, Canada', 
     'Chicago':'Chicago, IL', 'Den Haag':'Den Haag, Netherlands', 'Austin, Texas':'Austin, TX', 'München':'Munich, Berlin', 
     'Amsterdam':'Amsterdam, Netherlands', 'Eindhoven':'Eindhoven, Netherlands', 'Bremen':'Bremen, Germany', 
     'Munich':'Munich, Germany','Utrecht':'Utrecht, Netherlands','Oberkochen':'Oberkochen, Germany','Stuttgart':'Stuttgart, Germany',
    'Frankfurt  (Main)':'Frankfurt, Germany', 'Warsaw':'Warsaw, Poland', 'Lisbon':'Lisbon, Portugal', 'Nürnberg':'Nürnberg, Germany',
     'New York, New York 10001':'New York, NY', '81829 Munich':'Munich, Germany', 'Barendrecht': 'Barendrecht, Netherlands', 'Fort Collins':'Fort Collins, CO',
     'Buffalo':'Buffalo, NY', 'Los Angeles, CA, USA':'Los Angeles, CA','Portland, Maine':'Portland, ME','Philadelphia':'Philadelphia, PA',
     'Paris France':'Paris, France', 'Hamburg, Deutschland':'Hamburg, Germany', 'Rotterdam':'Rotterdam, Netherlands','Chicago, Illinois':'Chicago, IL', 
     'Budapest':'Budapest, Hungary', 'Bucharest':'Bucharest, Romania', 'San Francisco ':'San Francisco, CA','Remote Job':'Remote', 'Athens':'Athens, Greece',
     'Den Bosch':'Den Bosch, Netherlands','Remote - US':'Remote','Nijverdal':'Nijverdal, Netherlands', 'San Diego':'San Diego, CA','Mill Valley':'Mill Valley, CA',
     'Gothenburg':'Gothenburg, Sweden', 'Gothenburg ':'Gothenburg, Sweden','Redwood City, Ca':'Redwood City, CA', 'Oslo, Norway or Remote':'Remote','Lincoln, NE or Remote':'Remote','Helsinki/Remote':'Remote',
     'Paris - Remote (European Timezone)':'Remote','Miami, Fl or Remote':'Remote','Columbus, Ohio':'Columbus, OH', 'Oberkochen, Germany':'Oberkochen, Germany', 'Palo Alto':'Palo Alto, CA',
     'Cologne - Germany':'Cologne, Germany', 'Phoenix, Atlanta, Remote-US Based':'Remote'
    })

In [12]:
new = l["location"].str.split(",", n = 1, expand = True)
l["city"]=new[0]
l['city']

0                                   Ridge
1                                 Atlanta
2                                 Chicago
3                                  Dublin
4                                    Köln
5                                  remote
6                           San Francisco
7                                 NewYork
8                               Cambridge
9                                 Chicago
10                               Montreal
11                                 London
12                                 London
13                               Brooklyn
14                                Chicago
15                           Ludwigshafen
16                           Ludwigshafen
17                           Philadelphia
18                           Philadelphia
19                Ratingen bei Düsseldorf
20                                 Athens
21                               Nürnberg
22                              Cambridge
23                       Frankfurt (Main)
24                                 Remote
25                              Amsterdam
26                              Maassluis
27                                 Remote
28                              Dordrecht
29                                Toronto
                      ...
263                                London
264                                Bremen
265                                Berlin
266                              Capellen
267                                Remote
268                                Berlin
269                          Bonn or Köln
270                             Frankfurt
271                             Frankfurt
272                             Frankfurt
273                              Montreal
274    Warrendale PA/Framingham MA/remote
275                                Munich
276                           Barendrecht
277                                London
278                                 Milan
279                                Austin
280                           Los Angeles
281                              New York
282                                Austin
283                                Austin
284                             Amsterdam
285                           New Orleans
286                         Santa Barbara
287                                Zurich
288                              New York
289                              New York
290                                Munich
291                                Remote
292                                  Oslo
Name: city, Length: 293, dtype: object

In [13]:
# s = l.merge(c_df, how="left", on="city", left_on='city')
s = l.merge(c_df, how="left", on="city")
c = pd.DataFrame(s).groupby(by="city").count() #[['lat'],['lng']]
#r = c[['lat'],['lng']]

# df2 = s.assign(count = c)
# df2

In [14]:
# # len(s)
# pd.DataFlrame(c)

In [33]:
# # locations = c[["lat", "lng","city"]]
# # locations

# locations = c[["lat", "lng"]].astype(float)
# # # locations
# locations

In [16]:
locations = s[["lat", "lng","city"]]
fr = locations.groupby(by="city")
print(fr)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x12537c128>

In [17]:
# clean_locations = [x for x in locations if x != 'NaN']
dl = locations.apply (pd.to_numeric, errors='coerce')
dl = dl.dropna()
dl

Empty DataFrame
Columns: [lat, lng, city]
Index: []

In [18]:
# #cities = s['lat','lng']
# by_coord = pd.DataFrame(s).groupby(by="lat")
# by_coord.count()['city']

In [19]:
# lat = s['lat']
# lng = s['lng']

# coordinates = [lat,lng]
# cc = pd.DataFrame(coordinates)

In [20]:
location_count = s.groupby('location').count()['city']
location_count
# locations.count

location
Affing (bei Augsburg)                  1
Aliso Viejo, CA                        5
Amsterdam, Netherlands                16
Athens, Greece                        12
Atlanta                                9
Austin, TX                            30
Austin, Texas                         18
Australia and/or Remote                1
Bali, Indonesia                        1
Baltimore, MD                          2
Barcelona, Spain                       1
Barcelona, Spain                       1
Barendrecht, Netherlands               1
Basel, Switzerland                     3
Berlin, Germany                       99
Birmingham, AL                         5
Bonn or Köln                           1
Boston, MA                            12
Boulder, CO                            4
Bremen, Germany                        8
Brisbane CBD Australia                 1
Bristol, United Kingdom                9
Brooklyn, United States                7
Bucharest, Romania                     1
Budapest, Hungary                      2
Buffalo, NY                           16
Buffalo, New York                     16
Burlington, VT                        18
Büdelsdorf                             1
Cambridge, MA                         26
                                      ..
Santa Barbara, CA                      1
Santa Clara, CA                        5
Santa Monica, CA                       6
Saratoga Springs, NY                   2
Sherman Oaks                           1
South Sioux City, NE                   1
South Sioux City,NE                    1
St. Louis, MO                          3
Stockholm                              2
Stockholm, Sweden                      8
Stuttgart, Germany                     1
Sunnyvale                              2
Sunnyvale, CA                          2
Thousand Oaks, CA                      2
Tokyo // Mountain View // Eugene       2
Toronto, Canada                       16
United States                          1
Universal City, CA                     1
Utrecht, Netherlands                   1
Vancouver (remote)                     1
Veldhoven                              2
Vienna                                 9
Warrendale PA/Framingham MA/remote     1
Warsaw, Poland                         9
Washington                            18
Washington, DC                        18
Washington, DC & New York, NY         36
Zoetermeer                             1
Zurich                                 1
remote                                 3
Name: city, Length: 154, dtype: int64

In [21]:
# len(locations)
#dr = dl.drop_duplicates(keep='last')

In [22]:
s

,company,company_logo,company_url,created_at,description,how_to_apply,id_x,location,title,type,url,city,state_id,state_name,county_name,lat,lng,zips,id_y
0,American Physical Society,https://jobs.github.com/rails/active_storage/b...,None,Wed Aug 07 19:54:07 UTC 2019,<p>Who we are</p>\n<p>The American Physical So...,"<p><a href=""https://aps.applicantstack.com/x/a...",5ceb7560-3be5-446d-a878-1482a7ff0728,Ridge,Software Developer,Full Time,https://jobs.github.com/positions/5ceb7560-3be...,Ridge,NY,New York,Suffolk,40.9068,-72.8816,11961 11786,1.840110e+09
1,AppraisalFlo,https://jobs.github.com/rails/active_storage/b...,http://appraisalflo.com,Tue Oct 22 18:47:36 UTC 2019,<p>Who we are:</p>\n<p>We represent a business...,<p>Please apply via our website at</p>\n<p><a ...,3fa12a8e-a0ae-46d1-9601-b78d41e43737,Atlanta,Senior PHP | MySQL Developer | Remote,Full Time,https://jobs.github.com/positions/3fa12a8e-a0a...,Atlanta,TX,Texas,Cass,33.1136,-94.1672,75551,1.840088e+09
2,AppraisalFlo,https://jobs.github.com/rails/active_storage/b...,http://appraisalflo.com,Tue Oct 22 18:47:36 UTC 2019,<p>Who we are:</p>\n<p>We represent a business...,<p>Please apply via our website at</p>\n<p><a ...,3fa12a8e-a0ae-46d1-9601-b78d41e43737,Atlanta,Senior PHP | MySQL Developer | Remote,Full Time,https://jobs.github.com/positions/3fa12a8e-a0a...,Atlanta,LA,Louisiana,Winn,31.8064,-92.7383,71404,1.840034e+09
3,AppraisalFlo,https://jobs.github.com/rails/active_storage/b...,http://appraisalflo.com,Tue Oct 22 18:47:36 UTC 2019,<p>Who we are:</p>\n<p>We represent a business...,<p>Please apply via our website at</p>\n<p><a ...,3fa12a8e-a0ae-46d1-9601-b78d41e43737,Atlanta,Senior PHP | MySQL Developer | Remote,Full Time,https://jobs.github.com/positions/3fa12a8e-a0a...,Atlanta,NE,Nebraska,Phelps,40.3684,-99.4731,68923,1.840050e+09
4,AppraisalFlo,https://jobs.github.com/rails/active_storage/b...,http://appraisalflo.com,Tue Oct 22 18:47:36 UTC 2019,<p>Who we are:</p>\n<p>We represent a business...,<p>Please apply via our website at</p>\n<p><a ...,3fa12a8e-a0ae-46d1-9601-b78d41e43737,Atlanta,Senior PHP | MySQL Developer | Remote,Full Time,https://jobs.github.com/positions/3fa12a8e-a0a...,Atlanta,IL,Illinois,Logan,40.2637,-89.2311,61723,1.840018e+09
5,AppraisalFlo,https://jobs.github.com/rails/active_storage/b...,http://appraisalflo.com,Tue Oct 22 18:47:36 UTC 2019,<p>Who we are:</p>\n<p>We represent a business...,<p>Please apply via our website at</p>\n<p><a ...,3fa12a8e-a0ae-46d1-9601-b78d41e43737,Atlanta,Senior PHP | MySQL Developer | Remote,Full Time,https://jobs.github.com/positions/3fa12a8e-a0a...,Atlanta,GA,Georgia,Fulton,33.7627,-84.4225,30334 30331 30332 30309 30308 30305 30307 3030...,1.840016e+09
6,AppraisalFlo,https://jobs.github.com/rails/active_storage/b...,http://appraisalflo.com,Tue Oct 22 18:47:36 UTC 2019,<p>Who we are:</p>\n<p>We represent a business...,<p>Please apply via our website at</p>\n<p><a ...,3fa12a8e-a0ae-46d1-9601-b78d41e43737,Atlanta,Senior PHP | MySQL Developer | Remote,Full Time,https://jobs.github.com/positions/3fa12a8e-a0a...,Atlanta,IN,Indiana,Hamilton,40.2134,-86.0264,46031,1.840022e+09
7,AppraisalFlo,https://jobs.github.com/rails/active_storage/b...,http://appraisalflo.com,Tue Oct 22 18:47:36 UTC 2019,<p>Who we are:</p>\n<p>We represent a business...,<p>Please apply via our website at</p>\n<p><a ...,3fa12a8e-a0ae-46d1-9601-b78d41e43737,Atlanta,Senior PHP | MySQL Developer | Remote,Full Time,https://jobs.github.com/positions/3fa12a8e-a0a...,Atlanta,MO,Missouri,Macon,39.8987,-92.4801,63530,1.840046e+09
8,AppraisalFlo,https://jobs.github.com/rails/active_storage/b...,http://appraisalflo.com,Tue Oct 22 18:47:36 UTC 2019,<p>Who we are:</p>\n<p>We represent a business...,<p>Please apply via our website at</p>\n<p><a ...,3fa12a8e-a0ae-46d1-9601-b78d41e43737,Atlanta,Senior PHP | MySQL Developer | Remote,Full Time,https://jobs.github.com/positions/3fa12a8e-a0a...,Atlanta,MI,Michigan,Montmorency,45.0017,-84.1536,49709,1.840111e+09
9,AppraisalFlo,https://jobs.github.com/rails/active_storage/b...,http://appraisalflo.com,Tue Oct 22 18:47:36 UTC 2019,<p>Who we are:</p>\n<p>We represent a business...,<p>Please apply via our website at</p>\n<p><a ...,3fa12a8e-a0ae-46d1-9601-b78d41e43737,Atlanta,Senior PHP | MySQL Developer | Remote,Full Time,https://jobs.github.com/positions/3fa12a8e-a0a...,Atlanta,KS,Kansas,Cowley,37.4358,-96.7670,67008,1.840027e+09
10,Farm Journal,https://jobs.github.com/rails/active_storage/b...,http://www.farmjournal.com,Tue Oct 22 17:42:36 UTC 2019,<p><strong>POSITION DESCRIPTION</strong></p>\n...,"<p>Email your resume to <a href=""mailto:hr@far...",740ce758-53cc-4f3d-88b9-80aaa92e2105,"Chicago, IL",Software Developer,Full Time,https://jobs.github.com/positions/740ce758-53c...,Chicago,IL,Illinois,Cook,41.8373,-87.6862,60018 60649 60641 60640 60643 60642 60645 6064...,1.840022e+09
11,Nexient,None,http://www.Click2Apply.net/xcwwrftrnvb4shnd,Tue Oct 22 13:52:28 UTC 2019,<p>All of us rely on software in some form in ...,"<p>Apply Here:<a href=""http://www.Click2Apply....",9e0464b0-a58c-4f37-864f-f8e3fdb8bf6d,"Dublin, Ohio, United States, 43016",Salesforce Technical Architect,Full Time,https://jobs.github.com/positions/9e0464b0-a58...,Dublin,TX,Texas,Erath,32.0875,-98.3391,76446,1.840086e+09
12,Nexient,None,http://www.Click2Apply.net/xcwwrftrnvb4shnd,Tue Oct 22 13:52:28 UTC 2019,<p>All of us rely on software in some form in ...,"<p>Apply Here:<a href=""http://www.Click2Apply....",9e0464b0-a58c-4f37-864f-f8e3fdb8bf6d,"Dublin, Ohio, United States, 43016",Salesforce Technical Architect,Full Time,https://jobs.github.com/positions/9e0464b0-a58...,Dublin,NC,North Carolina,Bladen,34.6562,-78.7231,28332,1.840061e+09
13,Nexient,None,http://www.Click2Apply.net/xcwwrftrnvb4shnd,Tue Oct 22 13:52:28 UTC 2019,<p>All of us rely on software in some form in ...,"<p>Apply Here:<a href=""http://www.Click2Apply....",9e0464b0-a58c-4f37-864f-f8e3fdb8bf6d,"Dublin, Ohio, United States, 43016",Salesforce Technical Architect,Full Time,https://jobs.github.com/positions/9e0464b0-a58...,Dublin,PA,Pennsylvania,Bucks,40.3731,-75.2041,18917,1.840073e+09
14,Nexient,None,http://www.Click2Apply.net/xcwwrftrnvb4shnd,Tue Oct 22 13:52:28 UTC 2019,<p>All of us rely on software in some form in ...,"<p>Apply Here:<a href=""http://www.Click2Apply....",9e0464b0-a58c-4f37-864f-f8e3fdb8bf6d,"Dublin, Ohio, United States, 43016",Salesforce Technical Architect,Full Time,https://jobs.github.com/positions/9e0464b0-a58...,Dublin,VA,Virginia,Pulaski,37.0987,-80.6831,24084,1.840093e+09
15,Nexient,None,http://www.Click2Apply.net/xcwwrftrnvb4shnd,Tue Oct 22 13:52:28 UTC 2019,<p>All of us rely on software in some form in ...,"<p>Apply Here:<a href=""http://www.Click2Apply....",9e0464b0-a58c-4f37-864f-f8e3fdb8bf6d,"Dublin, Ohio, United States, 43016",Salesforce Technical Architect,Full Time,https://jobs.github.com/positions/9e0464b0-a58...,Dublin,CA,California,Alameda,37.7161,-121.8964,94568 94551,1.840106e+09
16,Nexient,None,http://www.Click2Apply.net/xcwwrftrnvb4shnd,Tue Oct 22 13:52:28 UTC 2019,<p>All of us rely on software in some form in ...,"<p>Apply Here:<a href=""http://www.Click2Apply....",9e0464b0-a58c-4f37-864f-f8e3fdb8bf6d,"Dublin, Ohio, United States, 43016",Salesforce Technical Architect,Full Time,https://jobs.github.com/positions/9e0464b0-a58...,Dublin,GA,Georgia,Laurens,32.5359,-82.9279,31021 31040,1.840014e+09
17,Nexient,None,http://www.Click2Apply.net/xcwwrftrnvb4shnd,Tue Oct 22 13:52:28 UTC 2019,<p>All of us rely on software in some form in ...,"<p>Apply Here:<a href=""http://www.Click2Apply....",9e0464b0-a58c-4f37-864f-f8e3fdb8bf6d,"Dublin, Ohio, United States, 43016",Salesforce Technical Architect,Full Time,https://jobs.github.com/positions/9e0464b0-a58...,Dublin,IN,Indiana,Wayne,39.8127,-85.2055,47335 47327,1.840025e+09
18,Nexient,None,http://www.Click2Apply.net/xcwwrftrnvb4shnd,Tue Oct 22 13:52:28 UTC 2019,<p>All of us rely on software in some form in ...,"<p>Apply Here:<a href=""http://www.Click2Apply....",9e0464b0-a58c-4f37-864f-f8e3fdb8bf6d,"Dublin, Ohio, United States, 43016",Salesforce Technical Architect,Full Time,https://jobs.github.com/positions/9e0464b0-a58...,Dublin,OH,Ohio,Franklin,40.1112,-83.1453,43002 43017 43016,1.840067e+09
19,PlusServer GmbH,https://jobs.github.com/rails/active_storage/b...,http://www.plusserver.com/karriere,Tue Oct 22 08:26:13 UTC 2019,<p>Wir bieten die Sicherheit eines Konzerns mi...,"<p>Wir erwarten Deine Bewerbung an <a href=""ma...",2ffe2180-1bf6-4e3f-b7da-f45fd719cbcb,Köln,Java Entwickler Front- und Backend,Full Time,https://jobs.github.com/positions/2ffe2180-1bf...,Köln,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Softbrik,https://jobs.github.com/rails/active_storage/b...,https://softbrik.com,Tue Oct 22 08:13:53 UTC 2019,<p><strong>Job description</strong></p>\n<p>Lo...,<p>To apply or know more about Softbrik and th...,008ab00a-89bb-4541-98e8-e7b85ffa6035,remote,Frontend developer,Full Time,https://jobs.github.com/positions/008ab00a-89b...,remote,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LeapYear,https://jobs.github.com/rails/active_storage/b...,https://leapyear.ai/careers,Thu Sep 19 21:48:28 UTC 2019,<h2>What we do</h2>\n<p>LeapYear's secure mach...,"<p>Submit an application at <a href=""https://l...",092c5660-bd5c-484f-96fe-0d9796e87031,"San Francisco, CA",Haskell Engineer at LeapYear - Core Platform,Full Time,https://jobs.github.com/positions/092c5660-bd5...,San Francisco,CA,California,San Francisco,37.7562,-122.4430,94130 94131 94132 94133 94134 94109 94108 9410...,1.840011e+09
22,Datadog,https://jobs.github.com/rails/active_storage/b...,http:,Mon Oct 21 21:12:11 UTC 2019,<p>Have you been writing beautiful web UIs for...,"<p><a href=""https://grnh.se/f0a956961"">https:/...",b3704276-7ed7-4880-8d45-f35052964659,NewYork,Software Engineer- Frontend,Full Time,https://jobs.github.com/positions/b3704276-7ed...,NewYork,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Abt Associates,https://jobs.github.com/rails/active_storage/b...,https://www.abtassociates.com/,Mon Oct 21 18:28:48 UTC 2019,<p><strong>Opportunity</strong></p>\n<p>Abt As...,"<p>Apply online here:\n<a href=""https://career...",a71fdb23-3447-4b5f-8fca-db08a774e48b,"Cambridge, MA",Senior Application Developer,Full Time,https://jobs.github.com/positions/a71fdb23-344...,Cambridge,WI,Wisconsin,Jefferson,43.0071,-89.0214,53523,1.840101e+09
24,Abt Associates,https://jobs.github.com/rails/active_storage/b...,https://www.abtassociates.com/,Mon Oct 21 18:28:48 UTC 2019,<p><strong>Opportunity</strong></p>\n<p>Abt As...,"<p>Apply online here:\n<a href=""https://career...",a71fdb23-3447-4b5f-8fca-db08a774e48b,"Cambridge, MA",Senior Application Developer,Full Time,https://jobs.github.com/positions/a71fdb23-344...,Cambridge,NE,Nebraska,Furnas,40.2843,-100.1654,69022,1.840050e+09
25,Abt Associates,https://jobs.github.com/rails/active_storage/b...,https://www.abtassociates.com/,Mon Oct 21 18:28:48 UTC 2019,<p><strong>Opportunity</strong></p>\n<p>Abt As...,"<p>Apply online here:\n<a href=""https://career...",a71fdb23-3447-4b5f-8fca-db08a774e48b,"Cambridge, MA",Senior Application Developer,Full Time,https://jobs.github.com/positions/a71fdb23-344...,Cambridge,NY,New York,Washington,43.0279,-73.3813,12816,1.840056e+09
26,Abt Associates,https://jobs.github.com/rails/active_storage/b...,https://www.abtassociates.com/,Mon Oct 21 18:28:48 UTC 2019,<p><strong>Opportunity</strong></p>\n<p>Abt As...,"<p>Apply online here:\n<a href=""https://career...",a71fdb23-3447-4b5f-8fca-db08a774e48b,"Cambridge, MA",Senior Application Developer,Full Time,https://jobs.github.com/positions/a71fdb23-344...,Cambridge,VT,Vermont,Lamoille,44.6389,-72.8788,05464 05444,1.840091e+09
27,Abt Associates,https://jobs.github.com/rails/active_storage/b...,https://www.abtassociates.com/,Mon Oct 21 18:28:48 UTC 2019,<p><strong>Opportunity</strong></p>\n<p>Abt As...,"<p>Apply online here:\n<a href=""https://career...",a71fdb23-3447-4b5f-8fca-db08a774e48b,"Cambridge, MA",Senior Application Developer,Full Time,https://jobs.github.com/positions/a71fdb23-344...,Cambridge,IL,Illinois,Henry,41.2984,-90.1907,61238,1.840019e+09
28,Abt Associates,https://jobs.github.com/rails/active_storage/b...,https://www.abtassociates.com/,Mon Oct 21 18:28:48 UTC 2019,<p><strong>Opportunity</strong></p>\n<p>Abt As...,"<p>Apply online here:\n<a href=""https://career...",a71fdb23-3447-4b5f-8fca-db08a774e48b,"Cambridge, MA",Senior Application Developer,Full Time,https://jobs.github.com/positions/a71fdb23-344...,Cambridge,IA,Iowa,Story,41.9001,-93.5360,50046,1.840025e+09
29,Abt Associates,https://jobs.github.com/rails/active_storage/b...,https://www.abtassociates.com/,Mon Oct 21 18:28:48 UTC 2019,<p><strong>Opportunity</strong></p>\n<p>Abt As...,"<p>Apply online here:\n<a href=""https://career...",a71fdb23-3447-4b5f-8fca-db08a774e48b,"Cambridge, MA",Senior Application Developer,Full Time,https://jobs.github.com/positions/a71fdb23-344...,Cambridge,MA,Massachusetts,Middlesex,42.3759,-71.1185,02142 02140 02141 02139 02138 02238 02477,1.840040e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,"BlueWave Security, Inc.",https://jobs.github.com/rails/active_storage/b...,http://www.bluewavesecurity.com,Thu Oct 25 21:26:18 UTC 2018,<p>Profitable and fast-growing company seeks a...,<p>Email your resume with a brief cover letter...,d42f9da4-d897-11e8-9e15-6308de92c469,"Austin, TX",Jr Programmer C C# SQL .NET,Full Time,https://jobs.github.com/positions/d42f9da4-d89...,Austin,AR,Arkansas,Lonoke,35.0069,-91.9896,72007 72176,1.840001e+09
888,"BlueWave Security, Inc.",https://jobs.github.com/rails/active_storage/b...,http://www.bluewavesecurity.com,Thu Oct 25 21:26:18 UTC 2018,<p>Profitable and fast-growing company seeks a...,<p>Email your resume with a brief cover letter...,d42f9da4-d897-11e8-9e15-6308de92c469,"Austin, TX",Jr Programmer C C# SQL .NET,Full Time,https://jobs.github.com/positions/d42f9da4-d89...,Austin,IN,Indiana,Scott,38.7417,-85.8118,47102,1.840022e+09
889,"BlueWave Security, Inc.",https://jobs.github.com/rails/active_storage/b...,http://www.bluewavesecurity.com,Thu Oct 25 21:26:18 UTC 2018,<p>Profitable and fast-growing company seeks a...,<p>Email your resume with a brief cover letter...,d42f9da4-d897-11e8-9e15-6308de92c469,"Austin, TX",Jr Programmer C C# SQL .NET,Full Time,https://jobs.github.com/positions/d42f9da4-d89...,Austin,MN,Minnesota,Mower,43.6722,-92.9761,55912,1.840042e+09
890,Hello Design,https://jobs.github.com/rails/active_storage/b...,https://www.hellodesign.com,Thu Oct 25 00:41:02 UTC 2018,<p>Hello is looking for a Full Stack Developer...,"<p>Please apply using <a href=""https://www.lin...",9bd2d6fa-d7ee-11e8-9f5e-c14b0048f133,"Los Angeles, CA",Full Stack Developer,Full Time,https://jobs.github.com/positions/9bd2d6fa-d7e...,Los Angeles,TX,Texas,Willacy,26.4947,-97.7863,78580,1.840117e+09
891,Hello Design,https://jobs.github.com/rails/active_storage/b...,https://www.hellodesign.com,Thu Oct 25 00:41:02 UTC 2018,<p>Hello is looking for a Full Stack Developer...,"<p>Please apply using <a href=""https://www.lin...",9bd2d6fa-d7ee-11e8-9f5e-c14b0048f133,"Los Angeles, CA",Full Stack Developer,Full Time,https://jobs.github.com/positions/9bd2d6fa-d7e...,Los Angeles,CA,California,Los Angeles,34.1139,-118.4068,90291 90293 90292 91316 91311 90037 90031 9000...,1.840108e+09
892,Stride Consulting,https://jobs.github.com/rails/active_storage/b...,https://www.stridenyc.com/,Wed Oct 24 19:14:53 UTC 2018,"<p>Stride Consulting is a mission-driven, engi...",<p>Follow this link and submit your applicatio...,0b0b5ff2-d7c1-11e8-88ec-ba50e54bd4a0,"New York, New York",Software Engineer,Full Time,https://jobs.github.com/positions/0b0b5ff2-d7c...,New York,NY,New York,New York,40.6943,-73.9249,11229 11226 11225 11224 11222 11221 11220 1138...,1.840060e+09
893,"Thorlabs, Inc.",None,https://www.thorlabs.com/,Wed Oct 24 14:16:23 UTC 2018,<p>Join our team and develop the next generati...,<p>Please be sure to complete an application o...,500a45e8-d797-11e8-9589-a611be182446,"Austin, Texas",FPGA Engineer,Full Time,https://jobs.github.com/positions/500a45e8-d79...,Austin,TX,Texas,Travis,30.3006,-97.7517,78749 78748 78741 78742 78745 78744 78747 7874...,1.840090e+09
894,"Thorlabs, Inc.",None,https://www.thorlabs.com/,Wed Oct 24 14:16:23 UTC 2018,<p>Join our team and develop the next generati...,<p>Please be sure to complete an application o...,500a45e8-d797-11e8-9589-a611be182446,"Austin, Texas",FPGA Engineer,Full Time,https://jobs.github.com/positions/500a45e8-d79...,Austin,PA,Pennsylvania,Potter,41.6373,-78.0903,16720,1.840076e+09
895,"Thorlabs, Inc.",None,https://www.thorlabs.com/,Wed Oct 24 14:16:23 UTC 2018,<p>Join our team and develop the next generati...,<p>Please be sure to complete an application o...,500a45e8-d797-11e8-9589-a611be182446,"Austin, Texas",FPGA Engineer,Full Time,https://jobs.github.com/positions/500a45e8-d79...,Austin,NV,Nevada,Lander,39.4978,-117.0741,89310,1.840115e+09
896,"Thorlabs, Inc.",None,https://www.thorlabs.com/,Wed Oct 24 14:16:23 UTC 2018,<p>Join our team and develop the next generati...,<p>Please be sure to complete an application o...,500a45e8-d797-11e8-9589-a611be182446,"Austin, Texas",FPGA Engineer,Full Time,https://jobs.github.com/positions/500a45e8-d79...,Austin,AR,Arkansas,Lonoke,35.0069,-91.9896,72007 72176,1.840001e+09
897,"Thorlabs, Inc.",None,https://www.thorlabs.com/,Wed Oct 24 14:16:23 UTC 2018,<p>Join our team and develop the next generati...,<p>Please be sure to complete an application o...,500a45e8-d797-11e8-9589-a611be182446,"Austin, Texas",FPGA Engineer,Full Time,https://jobs.github.com/positions/500a45e8-d79...,Austin,IN,Indiana,Scott,38.7417,-85.8118,47102,1.840022e+09
898,"Thorlabs, Inc.",None,https://www.thorlabs.com/,Wed Oct 24 14:16:23 UTC 2018,<p>Join our team and develop the next generati...,<p>Please be sure to complete an application o...,500a45e8-d797-11e8-9589-a611be182446,"Austin, Texas",FPGA Engineer,Full Time,https://jobs.github.com/positions/500a45e8-d79...,Austin,MN,Minnesota,Mower,43.6722,-92.9761,55912,1.840042e+09
899,"Thorlabs, Inc.",https://jobs.github.com/rails/active_storage/b...,https://www.thorlabs.com/,Wed Oct 24 14:13:02 UTC 2018,<p>Join our team and develop the next generati...,<p>Please be sure to complete an application o...,d662ff1e-d796-11e8-8c81-a8499a7d1c85,"Austin, TX",Lead Data Acquisition Design Engineer,Full Time,https://jobs.github.com/positions/d662ff1e-d79...,Austin,TX,Texas,Travis,30.3006,-97.7517,78749 78748 78741 78742 78745 78744 78747 7874...,1.840090e+09
900,"Thorlabs, Inc.",https://jobs.github.com/rails/active_storage/b...,https://www.thorlabs.com/,Wed Oct 24 14:13:02 UTC 2018,<p>Join our team and develop the next generati...,<p>Please be sure to complete an application o...,d662ff1e-d796-11e8-8c81-a8499a7d1c85,"Austin, TX",Lead Data Acquisition Design Engineer,Full Time,https://jobs.github.com/positions/d662ff1e-d79...,Austin,PA,Pennsylvania,Potter,41.6373,-78.0903,16720,1.840076e+09
901,"Thorlabs, Inc.",https://jobs.github.com/rails/active_storage/b...,https://www.thorlabs.com/,Wed Oct 24 14:13:02 UTC 2018,<p>Join our team and develop the next generati...,<p>Please be sure to complete an application o...,d662ff1e-d796-11e8-8c81-a8499a7d1c85,"Austin, TX",Lead Data Acquisition Design Engineer,Full Time,https://jobs.github.com/positions/d662ff1e-d79...,Austin,NV,Nevada,Lander,39.4978,-117.0741,89310,1.840115e+09
902,"Thorlabs, Inc.",https://jobs.github.com/rails/active_storage/b...,https://www.thorlabs.com/,Wed Oct 24 14:13:02 UTC 2018,<p>Join our team and develop the next generati...,<p>Please be sure to complete an application o...,d662ff1e-d796-11e8-8c81-a8499a7d1c85,"Austin, TX",Lead Data Acquisition Design Engineer,Full Time,https://jobs.github.com/positions/d662ff1e-d79...,Austin,AR,Arkansas,Lonoke,35.0069,-91.9896,72007 72176,1.840001e+09

In [23]:
sc = s.drop(columns=['company', 'company_logo', 'location', 'company_url', 'created_at','description', 'how_to_apply','id_x','title','type','url','state_id','state_name','county_name','zips','id_y'])
dsc = sc.apply (pd.to_numeric, errors='coerce')
dsc = sc.dropna()

In [45]:
s.to_csv('s.csv')

In [44]:
# dsc
g = s.groupby(by='city').count()
#g.head()
g.to_csv('groupby count.csv')

In [34]:
s.groupby(by="city").count()

,company,company_logo,company_url,created_at,description,how_to_apply,id_x,location,title,type,url,state_id,state_name,county_name,lat,lng,zips,id_y
city,,,,,,,,,,,,,,,,,,
Affing (bei Augsburg),1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Aliso Viejo,5,0,2,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Amsterdam,16,16,12,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
Athens,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
Atlanta,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
Austin,48,42,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48
Australia and/or Remote,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Bali,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Baltimore,2,0,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Barcelona,2,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0
Barendrecht,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Basel,3,3,3,3,3,3,3,3,3,3,3,0,0,0,0,0,0,0
Berlin,99,99,99,99,99,99,99,99,99,99,99,99,99,99,99,99,99,99
Birmingham,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Bonn or Köln,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Boston,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
Boulder,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Bremen,8,8,0,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
Brisbane CBD Australia,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Bristol,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
Brooklyn,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Bucharest,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Budapest,2,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0
Buffalo,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Burlington,18,18,0,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
Büdelsdorf,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Cambridge,39,26,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39
Capellen,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Chengdu,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Chicago,8,7,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ridge,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Rochester,13,13,0,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13
Rotterdam,7,7,7,7,7,7,7,7,7,7,7,0,0,0,0,0,0,0
San Diego,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
San Francisco,9,8,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
Santa Barbara,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Santa Clara,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Santa Monica,6,6,4,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Saratoga Springs,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Sherman Oaks,1,0,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
South Sioux City,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
St. Louis,3,3,0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Stockholm,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Stuttgart,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Sunnyvale,4,2,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Thousand Oaks,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Tokyo // Mountain View // Eugene,2,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0
Toronto,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
United States,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Universal City,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Utrecht,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Vancouver (remote),1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Veldhoven,2,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0,0
Vienna,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
Warrendale PA/Framingham MA/remote,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Warsaw,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
Washington,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72,72
Zoetermeer,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
Zurich,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
remote,3,3,2,3,3,3,3,3,3,3,3,0,0,0,0,0,0,0

In [26]:
final_coordinates = dsc.drop(columns='city')
final_coordinates

         lat       lng
0    40.9068  -72.8816
1    33.1136  -94.1672
2    31.8064  -92.7383
3    40.3684  -99.4731
4    40.2637  -89.2311
5    33.7627  -84.4225
6    40.2134  -86.0264
7    39.8987  -92.4801
8    45.0017  -84.1536
9    37.4358  -96.7670
10   41.8373  -87.6862
11   32.0875  -98.3391
12   34.6562  -78.7231
13   40.3731  -75.2041
14   37.0987  -80.6831
15   37.7161 -121.8964
16   32.5359  -82.9279
17   39.8127  -85.2055
18   40.1112  -83.1453
21   37.7562 -122.4430
23   43.0071  -89.0214
24   40.2843 -100.1654
25   43.0279  -73.3813
26   44.6389  -72.8788
27   41.2984  -90.1907
28   41.9001  -93.5360
29   42.3759  -71.1185
30   44.5718 -116.6778
31   38.5515  -76.0787
32   40.0221  -81.5868
..       ...       ...
886  39.4978 -117.0741
887  35.0069  -91.9896
888  38.7417  -85.8118
889  43.6722  -92.9761
890  26.4947  -97.7863
891  34.1139 -118.4068
892  40.6943  -73.9249
893  30.3006  -97.7517
894  41.6373  -78.0903
895  39.4978 -117.0741
896  35.0069  -91.9896
897  38.7417  -85.8118
898  43.6722  -92.9761
899  30.3006  -97.7517
900  41.6373  -78.0903
901  39.4978 -117.0741
902  35.0069  -91.9896
903  38.7417  -85.8118
904  43.6722  -92.9761
905  42.9420  -74.1907
906  40.4717  -80.9217
907  38.3493  -94.5890
908  45.7462 -111.3301
909  30.0687  -89.9288
910  34.4285 -119.7202
911  39.2323  -99.4346
912  40.6943  -73.9249
913  40.6943  -73.9249
914  48.6729  -98.8385
916  48.1947  -97.1318

[798 rows x 2 columns]

In [27]:
#scc = pd.DataFrame(sc).groupby(by="city")
scc = sc.groupby(by="city")

scc.head()

                                   city      lat       lng
0                                 Ridge  40.9068  -72.8816
1                               Atlanta  33.1136  -94.1672
2                               Atlanta  31.8064  -92.7383
3                               Atlanta  40.3684  -99.4731
4                               Atlanta  40.2637  -89.2311
5                               Atlanta  33.7627  -84.4225
10                              Chicago  41.8373  -87.6862
11                               Dublin  32.0875  -98.3391
12                               Dublin  34.6562  -78.7231
13                               Dublin  40.3731  -75.2041
14                               Dublin  37.0987  -80.6831
15                               Dublin  37.7161 -121.8964
19                                 Köln      NaN       NaN
20                               remote      NaN       NaN
21                        San Francisco  37.7562 -122.4430
22                              NewYork      NaN       NaN
23                            Cambridge  43.0071  -89.0214
24                            Cambridge  40.2843 -100.1654
25                            Cambridge  43.0279  -73.3813
26                            Cambridge  44.6389  -72.8788
27                            Cambridge  41.2984  -90.1907
36                              Chicago  41.8373  -87.6862
37                             Montreal  46.4312  -90.2382
38                             Montreal  37.9702  -92.5880
39                               London  36.4810 -119.4440
40                               London  35.3280  -93.2417
41                               London  39.8936  -83.4375
42                               London  37.1209  -84.0804
43                               London  36.4810 -119.4440
47                             Brooklyn  42.8524  -89.3723
..                                  ...      ...       ...
818                          Pleasanton  37.6663 -121.8805
819                          Pleasanton  40.5825  -93.7430
821    Tokyo // Mountain View // Eugene      NaN       NaN
822    Tokyo // Mountain View // Eugene      NaN       NaN
823                        Santa Monica  26.3654  -97.5900
825                    South Sioux City  42.4627  -96.4126
826                           Sunnyvale  32.7974  -96.5576
827                           Sunnyvale  37.3836 -122.0257
828                           Iowa City  41.6559  -91.5304
829                                Bali      NaN       NaN
832                         Mill Valley  37.9085 -122.5420
837                              Bremen  33.7086  -85.1498
850                            Capellen      NaN       NaN
861                        Bonn or Köln      NaN       NaN
862                           Frankfurt      NaN       NaN
863                           Frankfurt      NaN       NaN
864                           Frankfurt      NaN       NaN
865                            Montreal  46.4312  -90.2382
867  Warrendale PA/Framingham MA/remote      NaN       NaN
869                         Barendrecht      NaN       NaN
874                               Milan  35.1950 -107.8947
875                               Milan  35.9126  -88.7554
876                               Milan  41.4416  -90.5595
877                               Milan  32.0194  -83.0631
878                               Milan  39.1255  -85.1270
890                         Los Angeles  26.4947  -97.7863
909                         New Orleans  30.0687  -89.9288
910                       Santa Barbara  34.4285 -119.7202
911                              Zurich  39.2323  -99.4346
916                                Oslo  48.1947  -97.1318

[358 rows x 3 columns]

In [28]:
#lat = str(s['lat']) #.str.strip()
lat = s['lat'] # CREATES A SERIES
lng = s['lng']
# print(type(lat))
lat = str(lat)
lng = str(lng)

#s['lat and lon'] = lat + ' , ' + lng

In [29]:
# # c = s['lat and lon']
# # type(c)
# oo = s['lat and lon']

# #oo = oo.s.strip()
# oo.str.strip('\n')
# #pd.DataFrame(oo)

In [30]:
# Create a poverty Heatmap layer 
# fig.add_layer(gmaps.heatmap_layer(locations))
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(final_coordinates,# weights=location_count, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
scc.count()

                                    lat  lng
city
Affing (bei Augsburg)                 0    0
Aliso Viejo                           5    5
Amsterdam                            16   16
Athens                               12   12
Atlanta                               9    9
Austin                               48   48
Australia and/or Remote               0    0
Bali                                  0    0
Baltimore                             2    2
Barcelona                             0    0
Barendrecht                           0    0
Basel                                 0    0
Berlin                               99   99
Birmingham                            5    5
Bonn or Köln                          0    0
Boston                               12   12
Boulder                               4    4
Bremen                                8    8
Brisbane CBD Australia                0    0
Bristol                               9    9
Brooklyn                              7    7
Bucharest                             0    0
Budapest                              0    0
Buffalo                              32   32
Burlington                           18   18
Büdelsdorf                            0    0
Cambridge                            39   39
Capellen                              0    0
Chengdu                               0    0
Chicago                               8    8
...                                 ...  ...
Ridge                                 1    1
Rochester                            13   13
Rotterdam                             0    0
San Diego                             2    2
San Francisco                         9    9
Santa Barbara                         1    1
Santa Clara                           5    5
Santa Monica                          6    6
Saratoga Springs                      2    2
Sherman Oaks                          0    0
South Sioux City                      2    2
St. Louis                             3    3
Stockholm                            10   10
Stuttgart                             1    1
Sunnyvale                             4    4
Thousand Oaks                         2    2
Tokyo // Mountain View // Eugene      0    0
Toronto                              16   16
United States                         0    0
Universal City                        1    1
Utrecht                               0    0
Vancouver (remote)                    0    0
Veldhoven                             0    0
Vienna                                9    9
Warrendale PA/Framingham MA/remote    0    0
Warsaw                                9    9
Washington                           72   72
Zoetermeer                            0    0
Zurich                                1    1
remote                                0    0

[134 rows x 2 columns]

In [32]:
l.to_csv(ex_csv)
df.describe()

NameError: name 'df' is not defined

In [ ]:
# l['location'] = l['location'].replace(
#     {'New York, NY': 'New York, New York', 'New York': 'New York, New York', 
#      'New York City': 'New York, New York', 'Frankfurt':'Frankfurt, Germany', 
#      'Hamburg':'Hamburg, Germany','Barcelona':'Barcelona, Spain', 'Berlin':'Berlin, Germany', 
#      'San Francisco': 'San Francisco, CA', 'London':'London, UK', 'Toronto':'Toronto, Canada', 
#      'Chicago':'Chicago, IL', 'Den Haag':'Den Haag, Netherlands', 'Austin, Texas':'Austin, TX', 'München':'Munich, Berlin', 
#      'Amsterdam':'Amsterdam, Netherlands', 'Eindhoven':'Eindhoven, Netherlands', 'Bremen':'Bremen, Germany', 
#      'Munich':'Munich, Germany','Utrecht':'Utrecht, Netherlands','Oberkochen':'Oberkochen, Germany','Stuttgart':'Stuttgart, Germany',
#     'Frankfurt  (Main)':'Frankfurt, Germany', 'Warsaw':'Warsaw, Poland', 'Lisbon':'Lisbon, Portugal', 'Nürnberg':'Nürnberg, Germany',
#      'New York, New York 10001':'New York, NY', '81829 Munich':'Munich, Germany', 'Barendrecht': 'Barendrecht, Netherlands', 'Fort Collins':'Fort Collins, CO',
#      'Buffalo':'Buffalo, NY', 'Los Angeles, CA, USA':'Los Angeles, CA','Portland, Maine':'Portland, ME','Philadelphia':'Philadelphia, PA',
#      'Paris France':'Paris, France', 'Hamburg, Deutschland':'Hamburg, Germany', 'Rotterdam':'Rotterdam, Netherlands','Chicago, Illinois':'Chicago, IL', 
#      'Budapest':'Budapest, Hungary', 'Bucharest':'Bucharest, Romania', 'San Francisco ':'San Francisco, CA','Remote Job':'Remote', 'Athens':'Athens, Greece',
#      'Den Bosch':'Den Bosch, Netherlands','Remote - US':'Remote','Nijverdal':'Nijverdal, Netherlands', 'San Diego':'San Diego, CA','Mill Valley':'Mill Valley, CA',
#      'Gothenburg':'Gothenburg, Sweden', 'Gothenburg ':'Gothenburg, Sweden','Redwood City, Ca':'Redwood City, CA', 'Oslo, Norway or Remote':'Remote','Lincoln, NE or Remote':'Remote','Helsinki/Remote':'Remote',
#      'Paris - Remote (European Timezone)':'Remote','Miami, Fl or Remote':'Remote','Columbus, Ohio':'Columbus, OH', 'Oberkochen, Germany':'Oberkochen, Germany', 'Palo Alto':'Palo Alto, CA',
#      'Cologne - Germany':'Cologne, Germany', 'Phoenix, Atlanta, Remote-US Based':'Remote'
#     }) 

# df = l['location'].value_counts()
# #df.str.strip()
# print(df)
# s = df.merge(c_df, how="left", on="city", left_on='location')
# print(s)
# l['location'] = l['location'].replace(
#     {'New York, NY': 'New York, New York', 'New York': 'New York, New York', 
#      'New York City': 'New York, New York', 'Frankfurt':'Frankfurt, Germany', 
#      'Hamburg':'Hamburg, Germany','Barcelona':'Barcelona, Spain', 'Berlin':'Berlin, Germany', 
#      'San Francisco': 'San Francisco, CA', 'London':'London, UK', 'Toronto':'Toronto, Canada', 
#      'Chicago':'Chicago, IL', 'Den Haag':'Den Haag, Netherlands', 'Austin, Texas':'Austin, TX', 'München':'Munich, Berlin', 
#      'Amsterdam':'Amsterdam, Netherlands', 'Eindhoven':'Eindhoven, Netherlands', 'Bremen':'Bremen, Germany', 
#      'Munich':'Munich, Germany','Utrecht':'Utrecht, Netherlands','Oberkochen':'Oberkochen, Germany','Stuttgart':'Stuttgart, Germany',
#     'Frankfurt  (Main)':'Frankfurt, Germany', 'Warsaw':'Warsaw, Poland', 'Lisbon':'Lisbon, Portugal', 'Nürnberg':'Nürnberg, Germany',
#      'New York, New York 10001':'New York, NY', '81829 Munich':'Munich, Germany', 'Barendrecht': 'Barendrecht, Netherlands', 'Fort Collins':'Fort Collins, CO',
#      'Buffalo':'Buffalo, NY', 'Los Angeles, CA, USA':'Los Angeles, CA','Portland, Maine':'Portland, ME',
#     })

# df = l['location'].value_counts()
# #df.str.strip()
# df